{% extends 'base.html' %}

{% block title %}Gallery{% endblock title %}

{% block body %}

    <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/1.jfif">
    </div>

    <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/2.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/3.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/4.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style= "width: 20rem; float: left;">
        <img src="/static/5.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/6.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/7.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/8.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/9.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/10.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/11.jfif">
    </div>

     <div class="card mb-10 py-4 px-5" style="width: 20rem; float: left;">
        <img src="/static/12.jfif">
    </div>




{% endblock body %}

