{% extends 'base.html' %}

{% block title %}Memebership{% endblock title %}

{% block body %}

<div class="mb-10 py-4 px-5 " style= "float: left;">
<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2 px-5" style="margin:10px; "><b>CORPORATE TRAINING</b></h3>
<h5><b>Health and wellness have an enormous effect on the corporate world. If you are interested in a corporate deal with Structure please call us and we will be happy to assist you may contact us using our given number. Hope you find this helpful thats it for it. Thanks</b><h5>
</div>




{% endblock body %}

