{% extends 'base.html' %}

{% block title %}Terms & Conditions{% endblock title %}

{% block body %}

<div class="mb-10 py-4 px-5 " style= "float: left;">
<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2 px-5" style="margin:10px; "><b>Terms & Conditions</b></h3>
<p><b>We use our reasonable efforts to include accurate and up-to-date information on our web pages. Information is for your guidance only and is not intended to form any part of a contract and can be subject to change without notice. We shall not be liable for any direct, indirect, incidental, consequential or cumulative losses or damages arising out of the use or inability to use these pages, any errors, misrepresentations or omissions on the material contained on them.</b></p></li>
<p><b>The information on these web pages has been prepared with reasonable care and is believed by us to be legal, honest, decent and truthful as of the date of its preparation.
You agree that the material downloaded or otherwise accessed through the use of our web pages is obtained entirely at your own risk and that you will be entirely responsible for any resulting damage to software or computer systems and/or any resulting loss of data even if we have been advised of the possibility of any such damage.</b></p>

</div>


{% endblock body %}

