{% extends 'base.html' %}

{% block title %}Trainer{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">

    <img class="d-block w-100 mx-0" src="/static/trainers.jfif">
</div>

<div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2 px-5" style="margin:10px; ">MEET OUR TRAINERS</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-6" style="margin: 10px">Our personal trainers are skilled and professional who will educate, train and keep you motivated. If you are new to exercise or having trouble staying fit, you need to see one of our personal trainers. Our goal is to help you achieve your goals – and get you exercising regularly through sustainable changes in lifestyle.
                </p>
            </div>
        </div>

</div>


<div class="mt-5 col-md-12" style="width: 20rem; float: left; margin: 0x;">
        <img src="/static/trainer1.jfif">
                
</div>


<div class="mt-5 col-md-12" style="width: 20rem; float: right; margin: 10x">
    <p><b>Bilal Ahmed</b></p>
    <p>(Personal trainer) Age:31 Weight 78 Height 6’2″ Qualification Graduate, certified from Asia Fitness convention. 10 years in Fitness services.</p>
    <p>1-Weight Management.</p>
    <p>2-Reduce stress level.</p>
    <p>3-Strength & Endurance development workout.</p>
    <p>4-Mobility Training.</p>
    <p>5-Core fitness.</p>
</div>



<div class="mt-5 col-md-12" style="display: inline-block; vertical-align: left;">
        <img src="/static/trainer2.jfif">
                
</div>


<div class="mb-5 col-md-5" style="float: left; width: 30rem; margin: 0; ">
    <p><b>Shahid Ali</b></p>
    <p>(Personal trainer) Age:38 Weight 84 Height 5’9″ Qualification Graduate, 12 years in fitness services.Expertise in physical fitness training</p>
    <p>1-Kick Boxing.</p>
    <p>2-Structure Fit.</p>
    <p>3-Strength & Endurance development workout.</p>
    <p>4-Diet Planning.</p>
</div>





{% endblock body %}

